In [ ]:
#penggunaan print di python

print("hello world")

hello world

In [ ]:
#penggunaan komentar di python

#gunakan "#" untuk memberikan komentar"
print("penggunaan komentar atau # tidak memberikan output apapun")

penggunaan komentar atau # tidak memberikan output apapun

In [ ]:
#penggunaan variable
nama = rayhan
usia = 18
asal = semarang

In [10]:
#Tipe data
bilangan_bulat = 10
bilangan_desimal = 3.14
teks = "Hello, world!"
teks_multibaris = "Rayhan dan Zulkar"
boolean = True

#Menambahkan Nama dan umur
nama = "Rayhan"
umur = 18 

#Menampilkan nilai variabel
print('Nama:', nama, 'dan Umur:', umur)
print(f"Nama: {nama} dan Umur: {umur}")
print('\n')
print(teks_multibaris)

Nama: Rayhan dan Umur: 18
Nama: Rayhan dan Umur: 18


Rayhan dan Zulkar

In [11]:
#Variabel Multistatement
nama = "Rayhan"
a = 10; b = 8
kesibukan, keterangan = 'Berkuliah','Universitas Telkom Surabaya'

print(f"Nama saya {nama} dan Umur saya adalah {a+b} Tahun dan sedang {kesibukan} di {keterangan}")

Nama saya Rayhan dan Umur saya adalah 18 Tahun dan sedang Berkuliah di Universitas Telkom Surabaya

In [ ]:
#input dari user
nama = input("masukkan nama")
umur = input("masukkan umurmu")

print = print(f"halo perkenalkan nama saya {nama} dan umur saya {umur}")

In [ ]:
#percabangan
nilai = int(input("Masukkan nilaimu: "))

if nilai >= 70:
    print(" Lulus")
elif nilai == 20:
    print('rata - rata')
else:
    print("tidak lulus")

In [ ]:
#looping
for i in range (1,30, 2):
    print(i)